<footer class="footer">
    <div class="footer__block">
      <span class="footer__item">CSS</span>
      <span class="footer__item">IS</span>
      <span class="footer__item">AWESOME</span>
    </div>
    <div class="footer__button" (click)="optionsVisible = !optionsVisible">Pokaż</div>
    <div class="footer__options" [ngClass]="{'footer__options--visible': optionsVisible}">
      <div class="footer__options--wrapper">
        <div class="button" (click)="onResetPage()">Zresetuj ustawienia</div>
        <div class="button" (click)="onAddName()">Pokaż dane osobowe</div>
      </div>
    </div>
  </footer>
  